<div ng-repeat="rate in rates" class="rate">
	<img src="images/alt/{{rate.id}}.png?123" width="250">
	<div class="rate-country"><p>{{rate.countrymi}}<p></div>
	<div class="rate-rate">{{rate.currency}} {{rate.buying}}</div>
	<div class="clear"></div>
</div>