<div ng-repeat="rate in rates" class="rate">
	<img src="images/{{rate.id}}.png?123" width="130">
	<div class="rate-country"><p>{{rate.country}}<p></div>
	<div class="rate-rate">{{rate.currency}} {{rate.selling}}</div>
	<div class="clear"></div>
</div>