{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rate edit</h1>
    <img src="{{ asset('images') }}/{{entity.id}}.png" width="100"><br>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rates') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
