{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rate list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Country</th>
                <th>Currency</th>
                <th>Buying</th>
                <th>Selling</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rates_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><img src="{{ asset('images') }}/{{entity.id}}.png" width="100"></td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.currency }}</td>
                <td>{{ entity.buying }}</td>
                <td>{{ entity.selling }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rates_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('rates_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('rates_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
