{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td><img src="{{ asset('images') }}/{{entity.id}}.png" width="100"></td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ entity.currency }}</td>
            </tr>
            <tr>
                <th>Buying</th>
                <td>{{ entity.buying }}</td>
            </tr>
            <tr>
                <th>Selling</th>
                <td>{{ entity.selling }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rates') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('rates_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
