@import url(../fonts/museo300-regular.css);
@import url(../fonts/museo900-regular.css);
/* line 4, ../sass/tmoz.scss */
body {
  font-family: 'Museo300';
  margin: 0px;
  padding: 0px;
}

/* line 10, ../sass/tmoz.scss */
header {
  background-color: black;
  padding: 50px;
  font-size: 65px;
  font-family: 'Museo900';
  color: white;
}

/* line 18, ../sass/tmoz.scss */
.app {
  padding: 50px;
}
/* line 21, ../sass/tmoz.scss */
.app h1 {
  margin: 0px;
  font-size: 180px;
  line-height: 160px;
  font-family: 'Museo900';
  text-transform: uppercase;
  text-align: center;
}
/* line 29, ../sass/tmoz.scss */
.app h2 {
  margin: 0px;
  font-size: 95px;
  line-height: 100px;
  font-family: 'Museo900';
  text-transform: uppercase;
  text-align: center;
}
/* line 37, ../sass/tmoz.scss */
.app h3 {
  margin: 0px;
  font-size: 66px;
  line-height: 60px;
  font-family: 'Museo900';
  text-align: center;
  margin-bottom: 30px;
}

/* line 48, ../sass/tmoz.scss */
[ng-app="pageoneApp"] .rate {
  width: 47%;
  float: left;
  margin: 10px;
  background-color: black;
  color: white;
}
/* line 56, ../sass/tmoz.scss */
[ng-app="pageoneApp"] img {
  float: left;
  margin-right: 20px;
  border: solid 2px #ddd;
}
/* line 62, ../sass/tmoz.scss */
[ng-app="pageoneApp"] .rate-country {
  float: left;
  height: 60px;
  display: table;
  width: 160px;
  margin-top: 30px;
}
/* line 68, ../sass/tmoz.scss */
[ng-app="pageoneApp"] .rate-country p {
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
/* line 77, ../sass/tmoz.scss */
[ng-app="pageoneApp"] .rate-rate {
  float: left;
  width: 160px;
  font-size: 35px;
  font-family: 'Museo900';
  line-height: 65px;
  text-align: center;
}
/* line 86, ../sass/tmoz.scss */
[ng-app="pageoneApp"] .clear {
  clear: both;
}

/* line 91, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] .rate,
[ng-app="pagethreeApp"] .rate {
  width: 50%;
  float: left;
  margin: 5px 0;
}
/* line 97, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] img,
[ng-app="pagethreeApp"] img {
  float: left;
  margin-right: 20px;
  border: solid 2px #ddd;
}
/* line 103, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] .rate-country,
[ng-app="pagethreeApp"] .rate-country {
  float: left;
  height: 65px;
  display: table;
  width: 150px;
}
/* line 108, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] .rate-country p,
[ng-app="pagethreeApp"] .rate-country p {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 115, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] .rate-rate,
[ng-app="pagethreeApp"] .rate-rate {
  float: right;
  margin-right: 20px;
  font-size: 30px;
  font-family: 'Museo900';
  line-height: 65px;
}
/* line 123, ../sass/tmoz.scss */
[ng-app="pagetwoApp"] .clear,
[ng-app="pagethreeApp"] .clear {
  clear: both;
}

/* line 126, ../sass/tmoz.scss */
footer {
  background-color: black;
  padding: 45px 50px;
  font-size: 55px;
  font-family: 'Museo900';
  color: white;
  height: 344px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  background-image: url(../images/stamp.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 144, ../sass/tmoz.scss */
footer .sub {
  font-size: 20px;
  font-family: 'Museo300';
}
