<!DOCTYPE html>
<html language="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        
        <script src="{{asset('bower_components/angular/angular.js')}}"></script>
        <script src="{{asset('bower_components/angular-resource/angular-resource.js')}}"></script>
        <script src="{{asset('bower_components/angular-sanitize/angular-sanitize.js')}}"></script>
        <script src="{{asset('bower_components/angular-route/angular-route.js')}}"></script>

        <script src="{{asset('scripts/app.js')}}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>