{% extends 'EngagisTmozBundle:Default:base.html.twig' %}
{% block title %}Page One{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{{asset('stylesheets/tmoz.css')}}">
{% endblock %}

{% block body %}
<header>
	Buy Simple.<br>
	Sell Simple.<br>
	Simply the best rates.
</header>

<div class="app" ng-app="pageoneApp">
	<h1>Buy Your</h1>
	<h2>Foreign Currency</h2>
	<h3>$100 Aussie Dollars buys you</h3>
	<div ng-controller="pageoneCtrl" base-url="{{ asset('') }}">
	</div>
	<div class="clear"></div>
</div>

<footer>
	We’ve<br>
	got the best<br>
	rates in town.<br>
	<div class="sub">
		If we can’t beat a rate<br>
		we’ll give you $100AUD+.
	</div>
</footer>
{% endblock %}

{% block scripts %}
	<script src="{{asset('scripts/controllers/pageone.js')}}"></script>
    <script src="{{asset('scripts/directives/pageone.js')}}"></script>
{% endblock %}