{% extends 'EngagisTmozBundle:Default:base.html.twig' %}
{% block title %}Page Three{% endblock %}

{% block styles %}
	<link type="text/css" rel="stylesheet" href="{{asset('stylesheets/tmoz.css')}}">
{% endblock %}

{% block body %}
<header>
	Buy Simple.<br>
	Sell Simple.<br>
	Simply the best rates.
</header>

<div class="app" ng-app="pagethreeApp">
	<h1>Sell Your</h1>
	<h2>Foreign Currency</h2>
	<h3>We’ll give you AUD$100 for</h3>
	<div ng-controller="pagethreeCtrl" base-url="{{ asset('') }}">
	</div>
	<div class="clear"></div>
</div>

<footer>
	We’ve<br>
	got the best<br>
	rates in town.<br>
	<div class="sub">
		If we can’t beat a rate<br>
		we’ll give you $100AUD+.
	</div>
</footer>
{% endblock %}

{% block scripts %}
	<script src="{{asset('scripts/controllers/pagethree.js')}}"></script>
    <script src="{{asset('scripts/directives/pagethree.js')}}"></script>
{% endblock %}