@import "../fonts/museo300-regular.css";
@import "../fonts/museo900-regular.css";

body {
	font-family: 'Museo300';
	margin: 0px;
	padding: 0px;
}

header {
	background-color: black;
	padding: 50px;
	font-size: 65px;
	font-family: 'Museo900';
	color: white;
}

.app {
	padding: 50px;

	h1 {
		margin: 0px;
		font-size: 180px;
		line-height: 160px;
		font-family: 'Museo900';
		text-transform: uppercase;
		text-align: center;
	}
	h2 {
		margin: 0px;
		font-size: 95px;
		line-height: 100px;
		font-family: 'Museo900';
		text-transform: uppercase;
		text-align: center;
	}
	h3 {
		margin: 0px;
		font-size: 66px;
		line-height: 60px;
		font-family: 'Museo900';
		text-align: center;
		margin-bottom: 30px;
	}
}

[ng-app="pageoneApp"] {
	.rate {
		width: 47%;
		float: left;
		margin: 10px;
		background-color: black;
		color: white;
	}

	img {
		float: left;
		margin-right: 20px;
		border: solid 2px #ddd;
	}

	.rate-country {
		float: left;
		height: 60px;
		display: table;
		width: 160px;
		margin-top: 30px;
		p {
			font-size: 40px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.rate-rate {
		float: left;
		width: 160px;
		font-size: 35px;
		font-family: 'Museo900';
		line-height: 65px;
		text-align: center;
	}

	.clear { clear: both;}
}

[ng-app="pagetwoApp"],
[ng-app="pagethreeApp"] {
	.rate {
		width: 50%;
		float: left;
		margin: 5px 0;
	}

	img {
		float: left;
		margin-right: 20px;
		border: solid 2px #ddd;
	}

	.rate-country {
		float: left;
		height: 65px;
		display: table;
		width: 150px;
		p {
			font-size: 20px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.rate-rate {
		float: right;
		margin-right: 20px;
		font-size: 30px;
		font-family: 'Museo900';
		line-height: 65px;
	}

	.clear { clear: both;}
}

footer {
	background-color: black;
	padding: 45px 50px;
	font-size: 55px;
	font-family: 'Museo900';
	color: white;

	height: 344px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	box-sizing: border-box;

	background-image: url(../images/stamp.png);
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;

	.sub {
		font-size: 20px;
		font-family: 'Museo300';
	}

}